/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* User List Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    border: 1px solid #e0e0e0;
    text-align: left;
    padding: 10px;
  }
  
  th {
    background-color: #3498db;
    color: #ffffff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color: #e5e5e5;
  }
  
  /* "View Details" and "Hide Details" Button Styles */
  button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #217dbb;
  }
  
  /* User Details Styles */
  table .user-details {
    background-color: #f2f2f2;
    color: #333;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 600px) {
    table {
      font-size: 16px;
    }
  
    button {
      font-size: 16px;
    }
  }
  


  /* Search Styles */
.search-container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #217dbb;
}

